{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
        <table class="table">
            <thead>
            <tr>
                <th></th>
                <th scope="col">Title</th>
                <th scope="col">Type</th>
                <th scope="col">Date</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
                {% for activity in activities %}
                    {% if activity['title'] %}
                        <tr>
                            <td><a style="color: red" href="/delete?number={{ activity['number'] }}">x</a></td>
                            <td>{{ activity['title'] }}</td>
                            <td>{{ activity['type'] }}</td>
                            <td>{{ activity['date'] }}</td>
                            <td><a href="/view?number={{ activity['number'] }}">View</a></td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
{% endblock %}